.content{
    display: flex;
    justify-content: center;
}

.profile {
    margin-top: 2.5rem;
    width: 800px;
}

.card {
    position: relative;
}

.headpic {
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    background-color: tan;
    width: 40rem;
    height: 10rem;
}

.add {
    top: 8rem;
    right: 11rem;

    position: absolute;

    &:hover {
        transform: scale(1.075);
        cursor: pointer;
    }
}

.initials {
    position: absolute;
    bottom: 1rem;
    height: 8rem;
    width: 8rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: var(--fs-l);
    }
}

.set-profile-btn {
    position: absolute;
    bottom: -3rem;
    right: 10rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid grey;

    &:hover {
        cursor: pointer;
    }
}