<div class="head">
    <span class="headline">My Profile</span>
</div>
<div class="content">
    <div class="profile">
        <div class="card">
            <div class="headpic">
                <mat-icon class="add" (click)="setProfilePic()">photo_camera</mat-icon>
            </div>
            <div class="initials">
                <span>JH</span>
            </div>
            <div class="btns">
                <button class="set-profile-btn" (click)="setProfile()"><mat-icon>edit</mat-icon>Profil bearbeiten</button>
            </div>
        </div>
    </div>
</div>